@model CMR_Curriculum_Database.Models.company_list

@{
    ViewBag.Title = "Details";
}

<h2><strong>@Html.DisplayFor(model => model.Company_Name)</strong></h2>
@if(Request.IsAuthenticated)
{
<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Delivery_Method)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivery_Method)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Program)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Program)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.CompanyID })
    </p>
    <table class="table">
        <tr>
            <th>
                Content Title
            </th>
            <th>
                Resource Type
            </th>
        </tr>

        @foreach (var item in Model.company_map)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT).ToHtmlString(), "../content/Details", new { id=item.content.ContentID})
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content.Resources_Type)
                </td>
                <td>
                    @Html.ActionLink("Remove", "../company_map/Delete", new { id=item.CompanyMapID, companyID=Model.CompanyID })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Add content to company", "../company_map/Create", new { id=Model.CompanyID})
</p>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
}
else
{
<div>
    @Html.ActionLink("You must login to use this database", "Login", "Account")
</div>

}