@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>CMR Curriculum Database</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <div>
            @Html.ActionLink("Content", "Index", "content/Index")<br />
            @Html.ActionLink("Companies", "Index", "company_list")<br />
            @Html.ActionLink("Company Affiliations", "Index", "company_map")<br />
            @Html.ActionLink("Categories", "Index", "categories")<br />
            @Html.ActionLink("Parent Courses", "Index", "parent_course")<br />
            @Html.ActionLink("Parent Courses Associations", "Index", "parent_course_map")

           
        </div>
</div>