@model CMR_Curriculum_Database.Models.content

@{
    ViewBag.Title = "Details";
}

<h2><strong>@Html.DisplayFor(model => model.Module_Name___CURRENT)</strong></h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        @foreach (var pc in Model.parent_course_map)
        {
        <dt>
            Parent Course:
        </dt>
        <dd>
            @Html.ActionLink(Html.DisplayFor(model => pc.parent_course.Parent_Course_Name).ToHtmlString(), "../parent_course/Details", new { id = pc.Parent_Course_ID }) | @Html.ActionLink("Change", "../parent_course_map/Edit", new { id = pc.ID })
        </dd>
        }
        <dt>
            Content Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Module_Name___PREVIOUS)
        </dd>

        <dt>
            Introduction:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Introduction)
        </dd>

        <dt>
            Objectives:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Objectives)
        </dd>

        <dt>
            Audio Talent Used:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Audio_Talent_used)
        </dd>

        <dt>
            Active:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACTIVE_ON_WEBSITE)
        </dd>

        <dt>
            Notes:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

        <dt>
            Allowed for ASM:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Allowed_for_ASM_)
        </dd>

        <dt>
            MAIE:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MAIE_Modules)
        </dd>

        <dt>
            Search Tagging:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Search_Tagging)
        </dd>

        <dt>
            Industry Tagging:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Industry_Tagging___FOR_WEBSITE)
        </dd>

        <dt>
            Resource Type:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resources_Type)
        </dd>

        <dt>
            Delivered In:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Delivered_In_)
        </dd>

        <dt>
            Resource Duration:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resource_Duration)
        </dd>

        <dt>
            Level:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Level)
        </dd>

        <dt>
            In Revision:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.In_Revision)
        </dd>

        <dt>
            Last Revision Date:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Revision_Date)
        </dd>

        <dt>
            Related Content:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Related_Content)
        </dd>

        <dt>
            Passing Score Changed to 80:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Passing_Score_changed_to_80_)
        </dd>

        <dt>
            Writer:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Writer)
        </dd>

        <dt>
            SME:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SME)
        </dd>

        <dt>
            ACPE Module:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACPE_Module)
        </dd>
        <dt>
            Chicago Approved:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Chicago_Approved)
        </dd>

    </dl>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ContentID }) | @Html.ActionLink("Add Parent Course", "../parent_course_map/Create", new { id = Model.ContentID })
    </p>
    <table class="table">
        <tr>
            <th>
                Categories:
            </th>
        </tr>

        @foreach (var item in Model.category_map)
            {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.category.Category1).ToHtmlString(), "../categories/Details", new {id = item.CategoryID})
                </td>
                <td>
                    @Html.ActionLink("Remove", "../category_map/Delete", new { id=item.ID, contentID=Model.ContentID })
                </td>
            </tr>
        }
    </table>
    <p>
       @Html.ActionLink("Add category", "../category_map/Create", new { id = Model.ContentID })
    </p>
    <br />
    <table class="table">
        <tr>
            <th>
                Company Name
            </th>
            <th>
                Program
            </th>
            <th>
                Delivery Method
            </th>
            <th>
                Notes
            </th>
        </tr>
        

        @foreach (var item in Model.company_map)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.company_list.Company_Name).ToHtmlString(), "../company_list/Details", new {id = item.CompanyID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_list.Program)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_list.Delivery_Method)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.company_list.Notes)
                </td>

                <td>
                    @Html.ActionLink("Remove", "../company_map/Delete", new { id=item.CompanyMapID })
                </td>
            </tr>
        }
    </table>
    
</div>
<p>
    @Html.ActionLink("Add a company association", "../company_map/Create", new { id = Model.ContentID })
</p>
<p>
    @Html.ActionLink("Back to List", "../content/Index")
</p>
