@model IEnumerable<CMR_Curriculum_Database.Models.content>

@{
    ViewBag.Title = "Index";
}



<h2><strong>Content</strong></h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
    <p>
        Search Content: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Parent Course
        </th>
        <th>
            Module Name - CURRENT
        </th>
        <th>
            Module Name - PREVIOUS
        </th>
       
        <th>
            Active on Website
        </th>
        
        <th>
            Category
        </th>
        <th>
            Resource Type
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        @foreach (var pc in item.parent_course_map)
        {
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => pc.parent_course.Parent_Course_Name).ToHtmlString(), "../parent_course/Details", new { id = pc.parent_course.Parent_Course_ID })
        </td>
        }
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Module_Name___CURRENT).ToHtmlString(), "Details", new { id=item.ContentID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module_Name___PREVIOUS)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE_ON_WEBSITE)
        </td>
        @foreach (var cat in item.category_map)
        {
            <td>
                @Html.DisplayFor(modelItem => cat.category.Category1)
            </td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Resources_Type)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ContentID }) |
             
            @Html.ActionLink("Delete", "Delete", new { id=item.ContentID })
        </td>
    </tr>
}

</table>
