
@model PagedList.IPagedList<CMR_Curriculum_Database.Models.content>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Index";
}
<h2><strong>Content</strong></h2>
@if(Request.IsAuthenticated)
{
    <h4>@Model.Count() resources total</h4>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<p>
    @Html.ActionLink("Export", "ExportExcel")
</p>
using (Html.BeginForm())
{
    <p>
        Search Content: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Parent Course
        </th>
        <th>
            Module Name - CURRENT
        </th>
        <th>
            Module Name - PREVIOUS
        </th>
       
        <th>
            Active on Website
        </th>
        <th>
            Resource Type
        </th>
        
        <th>
            In Revision
        </th>
        <th>
            Categories
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    
        <tr>
        @foreach (var pc in item.parent_course_map)
        {
        <td>
            @Html.ActionLink(pc.parent_course.Parent_Course_Name, "../parent_course/Details", new { id = pc.parent_course.Parent_Course_ID })
        </td>
        }
        <td>
            @Html.ActionLink(item.Module_Name___CURRENT, "Details", new { id=item.ContentID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Module_Name___PREVIOUS)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.ACTIVE_ON_WEBSITE)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Resources_Type)
        </td>
            <td>
                @Html.DisplayFor(modelItem => item.In_Revision)
            </td>
        @foreach (var cat in item.category_map)
        {
            <td>
                @Html.DisplayFor(modelItem => cat.category.Category1)
            </td>
        }
        
    </tr>
}

</table>
<br />
<p>Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, page => Url.Action("Index",
new { page }))</p>
}
else
{
    <div>
        @Html.ActionLink("You must login to use this database", "Login", "Account")
    </div>

}