@model CMR_Curriculum_Database.Models.category_map

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to remove the category <strong>@Html.DisplayFor(model => model.category.Category1)</strong> from the module <strong>@Html.DisplayFor(model => model.content.Module_Name___CURRENT)</strong>?</h2>
<div>
    <h4>category_map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Category Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category.Category1)
        </dd>

        <dt>
            Content Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content.Module_Name___CURRENT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
