@model CMR_Curriculum_Database.Models.parent_course_map

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to remove the module <strong>@Html.DisplayFor(model => model.content.Module_Name___CURRENT)</strong> from the parent course <strong>@Html.DisplayFor(model => model.content.Module_Name___CURRENT)</strong>?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Parent Course:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_course.Parent_Course_Name)
        </dd>

        <dt>
            Content Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content.Module_Name___CURRENT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
