@model CMR_Curriculum_Database.Models.parent_course_map

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>parent_course_map</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.parent_course.Parent_Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.parent_course.Parent_Course_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.content.Module_Name___CURRENT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content.Module_Name___CURRENT)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
