@model IEnumerable<CMR_Curriculum_Database.Models.category>

@{
    ViewBag.Title = "Index";
}

<h2>Add Category</h2>
@if(Request.IsAuthenticated)
{
<p>
    @Html.ActionLink("Create New", "Create")
</p>
using (Html.BeginForm())
{
    <p>
        Search Content: @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}
<table class="table">
    <tr>
        <th>
            Category:
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Category1, "Details", new { id=item.CategoryID })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryID })
        </td>
    </tr>
}

</table>
}
else
{
<div>
    @Html.ActionLink("You must login to use this database", "Login", "Account")
</div>

}