@model CMR_Curriculum_Database.Models.company_map

@{
    ViewBag.Title = "Delete";
}

<h2>Are you sure you want to delete <strong>@Html.DisplayFor(model => model.content.Module_Name___CURRENT)</strong> from <strong>@Html.DisplayFor(model => model.company_list.Company_Name)</strong>?</h2>


<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Company Name:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.company_list.Company_Name)
        </dd>

        <dt>
            Content Title:
        </dt>

        <dd>
            @Html.DisplayFor(model => model.content.Module_Name___CURRENT)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Remove" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
