@model IEnumerable<CMR_Curriculum_Database.Models.company_map>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.company_list.Company_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.content.Module_Name___CURRENT)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.company_list.Company_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CompanyMapID }) |
            @Html.ActionLink("Details", "Details", new { id=item.CompanyMapID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CompanyMapID })
        </td>
    </tr>
}

</table>
