@model CMR_Curriculum_Database.Models.parent_course

@{
    ViewBag.Title = "Details";
}

<h2><strong>@Html.DisplayFor(model => model.Parent_Course_Name)</strong></h2>
<h4>   @Model.parent_course_map.Count() modules</h4>
@if (Request.IsAuthenticated)
{
    @Html.ActionLink("Edit", "Edit", new { id = Model.Parent_Course_ID })
<div>
    
    <table class="table">
        <tr>
            <th>
                Associated Modules
            </th>
        </tr>

        @foreach (var item in Model.parent_course_map)
        {
            <tr>
                <td>
                    @Html.ActionLink(Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT).ToHtmlString(), "../content/Details/", new { id= item.content.ContentID })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content.Objectives)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.content.Resources_Type)
                </td>
                @foreach (var cat in item.content.category_map)
                {
                    <td>
                        @Html.DisplayFor(modelItem => cat.category.Category1)
                    </td>
                }

                <td>
                    @Html.ActionLink("Remove", "../parent_course_map/Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </table>
    @Html.ActionLink("Add content to parent course", "../parent_course_map/Create", new { id = Model.Parent_Course_ID })
</div>
<p>
    @Html.ActionLink("Back", "Index", new { searchString = Model.Parent_Course_Name })
</p>
}
else
{
<div>
@Html.ActionLink("You must login to use this database", "Login", "Account")
</div>
}
    </div>