@model CMR_Curriculum_Database.Models.parent_course

@{
    ViewBag.Title = "Details";
}

<h2><strong>@Html.DisplayFor(model => model.Parent_Course_Name)</strong></h2>

<div>
    
    <table class="table">
        <tr>
            <th>
                Associated Modules
            </th>
        </tr>

        @foreach (var item in Model.parent_course_map)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT)
                </td>
                <td>
                    @Html.ActionLink("Delete", "../parent_course_map/Delete", new { id=item.ID })
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Parent_Course_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
