@model CMR_Curriculum_Database.Models.parent_course

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>parent_course</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Parent_Course_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Parent_Course_Name)
        </dd>

    </dl>
    <table class="table">
        <tr>
            <th>
                Associated Modules
            </th>
        </tr>

        @foreach (var item in Model.parent_course_map)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.content.Module_Name___CURRENT)
                </td>
            </tr>
        }
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Parent_Course_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
