@model IEnumerable<CMR_Curriculum_Database.Models.parent_course>

@{
    ViewBag.Title = "Index";
}

<h2>Parent Courses</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
@using (Html.BeginForm())
{
<p>
    Search Content: @Html.TextBox("SearchString")
    <input type="submit" value="Search" />
</p>
}
<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(Html.DisplayFor(modelItem => item.Parent_Course_Name).ToHtmlString(), "Details", new {  id = item.Parent_Course_ID })
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Parent_Course_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Parent_Course_ID })
        </td>
    </tr>
}

</table>
